.idea/
.vscode/
.eggs/
.cache/
.pytest_cache/
*.egg-info/
archive/
dist/
benchmarks/
__pycache__/

*.html
*.zip
*.pdf
*.cmd
*.swp
*.temp
*.pyc

tests/*_common.fastq*
tests/*_unique.fastq*
tests/outdir/

